<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" id="nav-header">
	<div class="container-fluid">
		<a class="navbar-brand text-black" href="{{ path('app_main')}}">Cook.fr</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active text-black" href="{{ path('app_main')}}">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link active text-black" href="{{ path('app_ingredient')}}">Mes ingrédients
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-black" href="{{ path('app_recette')}}">Mes recettes
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-black" href="{{ path('all_recettes')}}">Recettes communautaires
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
				{% endif %}
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto">
					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.fullName }}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('edit_user', {id:app.user.id})}}">Modifier profil</a>
								<a class="dropdown-item" href="{{ path('user_edit_password',{id:app.user.id})}}">Modifier mot de passe</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a>
							</div>
						</li>
						<li>&nbsp;&nbsp;</li>
					{% else %}
						<li>
							<span class="navbar-text">
								<button class="btn btn-warning " type="button">
									<a class="nav-link text-black" href="{{ path('security_registration')}}" role="button">Inscription</a>
								</button>
							</span>
						</li>
						<li>&nbsp;</li>
						<li>
							<span class="navbar-text">
								<button class="btn btn-warning " type="button">
									<a class="nav-link text-black" href="{{ path('app_security') }}">Connexion</a>
								</button>
							</span>
						</li>
					{% endif %}
				</ul>

			</div>
		</div>
	</div>
</nav>
