{% extends 'base.html.twig' %}

{% block title %}Ingredient
{% endblock %}

{% block body %}
	<style>
		.count {
			margin-top: 60px;
		}
	</style>
	<div class="container mt-3">
		{% for message in app.flashes('success') %}
		<div class="alert alert-dismissible alert-primary" role="alert">
			<strong>{{ message }}</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}

		<h1 class="d-flex justify-content-center text-primary">Mes ingrédients</h1>
		<a href="{{ path('ingredient_new')}}" class="btn btn-secondary mt-3 float-end">Créer un ingrédient</a>
		<div class="count">
			<span class="text-warning">{{ ingredients.getTotalItemCount }}</span>
		</div>
		<table class="table table-hover">
			<thead>
				<tr class="table-warning">
					<th scope="col">Numéro</th>
					<th scope="col">Nom</th>
					<th scope="col">Prix</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for ingredient in ingredients %}
					{% if loop.index is divisible by(2) %}
						<tr class="table-light">
						{% else %}
							<tr class="table-secondary"></tr>
						{% endif %}
						<th scope="row">{{ ingredient.id }}</th>
						<td>
							<a href="{{ path('ingredient_edit',{'id':ingredient.id})}}" data-toggle="tooltip" data-placement="top" title="Voir">{{ ingredient.name }}</a>
						</td>
						<td>{{ ingredient.price }}&nbsp;€</td>
						<td>{{ ingredient.createAt |date("d-m-Y H:i:s") }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{# display navigation #}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(ingredients) }}
		</div>
	</div>

{% endblock %}
