{% extends 'base.html.twig' %}

{% block title %}Ingredient {{ app.user.pseudo }}
{% endblock %}

{% block body %}
	<style>
		.count {
			margin-top: 60px;
		}
	</style>
	<div class="container mt-3">
		{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-primary" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		<h1 class="d-flex justify-content-center text-primary">Mes ingrédients -  {{ user.pseudo }}</h1>
		<a href="{{ path('ingredient_new')}}" class="btn btn-warning text-black mt-3 float-end">Créer un ingrédient</a>
		{% if ingredients is not empty%}
		<div class="count">
			<span class="badge bg-light text-black">Nombre d'ingrédients : {{ ingredients.getTotalItemCount }}</span>
		</div>
		<table class="table table-hover mt-2">
			<thead>
				<tr class="table-active">
					<th scope="col" class="text-primary">Numéro</th>
					<th scope="col" class="text-primary">Nom</th>
					<th scope="col" class="text-primary">Prix</th>
					<th scope="col" class="text-primary">Date</th>
					<th scope="col" class="text-primary">Modification</th>
					<th scope="col" class="text-primary">Suppression</th>
				</tr>
			</thead>
			<tbody>
				{% for ingredient in ingredients %}
					{% if loop.index is divisible by(2) %}
						<tr class="table-secondary">
						{% else %}
							<tr class="table-info"></tr>
						{% endif %}
						<th scope="row">{{ ingredient.id }}</th>
						<td>{{ ingredient.name }}</td>
						<td>{{ ingredient.price }}&nbsp;€</td>
						<td>{{ ingredient.createAt |date("d-m-Y H:i:s") }}</td>
						<td>
							<a href="{{ path('ingredient_edit',{'id':ingredient.id})}}" class="btn btn-sm btn-outline-warning text-black float-center text-small"
							data-placement="top" data-toggle="tooltip" title="Modifier l'ingrédient : {{ ingredient.name }} " data-trigger="hover">Modification</a>
						</td>
						<td>
							<a href="{{ path('ingredient_delete',{'id':ingredient.id})}}" class="btn btn-sm btn-outline-warning text-black float-center text-small"
							data-placement="top" data-toggle="tooltip" title="Supprimer l'ingrédient : {{ ingredient.name }} " data-trigger="hover">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{# display navigation #}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(ingredients) }}
		</div>
		{% endif %}
	</div>

{% endblock %}
