{% extends 'base.html.twig' %}


{% block title %}Recettes publiques
{% endblock %}
{% block body %}
	<style>
		.count {
			margin-top: 60px;
		}
	</style>
	<div class="container mt-3">
			{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-primary" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
				{% for message in app.flashes('warning') %}
			<div class="alert alert-dismissible alert-warning" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<h1 class="d-flex justify-content-center text-primary">Recettes publiques</h1>
		<a href="{{ path('app_recette')}}" class="btn btn-outline-primary text-black mt-3 float-end">Mes recettes</a>
		<div class="count">
			<span class="text-warning">{{ recettes.getTotalItemCount }}</span>
		</div>
		<div class="row my-sm-2 card-body">
			{% for recette in recettes %}
				<div class="col-sm-4 col-md-4 col-xl-4 d-flex">
					<div class="card" style="width: 204rem;">
						<img src="{{ vich_uploader_asset(recette, 'imageFile') }}" alt="{{ recette.name }}" class="card-img-top"/>
						<div class="card-body">
							<h5 class="card-title text-danger">{{recette.name}}</h5>
							<p class="card-text">{{recette.description}}</p>
							<a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#hondaModal">Voir</a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		{# display navigation #}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(recettes) }}
		</div>
	</div>
{% endblock %}
