{% extends 'base.html.twig' %}


{% block title %}Recettes publiques
{% endblock %}
{% block body %}
	<style>
		.count {
			margin-top: 60px;
		}
	</style>
	<div class="container mt-3">
			{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-primary" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
				{% for message in app.flashes('warning') %}
			<div class="alert alert-dismissible alert-warning" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<h1 class="d-flex justify-content-center text-primary">Recettes publiques</h1>
		<a href="{{ path('app_recette')}}" class="btn btn-outline-primary text-black mt-3 float-end">Mes recettes</a>
		<div class="count">
			<span class="text-warning">{{ recettes.getTotalItemCount }}</span>
		</div>
		<table class="table table-hover">
			<thead>
				<tr class="table-warning">
					<th scope="col">Numéro</th>
					<th scope="col">Nom</th>
					<th scope="col">Prix</th>
					<th scope="col">Durée (min)</th>
					<th scope="col">Difficulté</th>
					<th scope="col">Date de création</th>
					<th scope="col">Recette</th>

				</tr>
			</thead>
			<tbody>
				{% for recette in recettes %}
					{% if loop.index is divisible by(2) %}
						<tr class="table-dark">
						{% else %}
							<tr class="table-ligth"></tr>
						{% endif %}
						<th scope="row">{{ recette.id }}</th>
						<td>{{ recette.name }}</td>
						<td>{{ (recette.price  is same as(null)) ? 'non renseigné' : recette.price |format_currency('EUR') }}</td>
						<td>{{ recette.time is same as(null) ? 'non renseignée': recette.time }}</td>
						<td>{{ recette.difficulty is same as(null) ? 'non renseignée' : recette.difficulty }}</td>
						<td>{{ recette.createAt |date("d-m-Y H:i:s") }}</td>
						<td>
							<a href="#{{ path('recette_delete', { id: recette.id }) }}#" class="btn btn-sm btn-light text-small" data-placement="top" data-toggle="tooltip" title="Voir la recette : {{ recette.name }} " data-trigger="hover">Voir</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{# display navigation #}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(recettes) }}
		</div>
	</div>
{% endblock %}
