{% extends 'base.html.twig' %}


{% block title %}Recettes publiques
{% endblock %}
{% block body %}
	<style>
		.count {
			margin-top: 60px;
		}
	</style>
	<div class="container mt-3">
			{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-primary" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
				{% for message in app.flashes('warning') %}
			<div class="alert alert-dismissible alert-warning" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<h1 class="d-flex justify-content-center text-primary">Recettes publiques</h1>
		<a href="{{ path('app_recette')}}" class="btn btn-outline-warning text-black mt-3 float-end">Mes recettes</a>
		{% if recettes is not empty %}
		<div class="count">
			<span class="badge bg-light text-black">Nombre de recettes publiques : {{ recettes.getTotalItemCount }}</span>
		</div>
		<div class="row my-sm-2 card-body">
			{% for recette in recettes %}
				<div class="col-sm-4 col-md-4 col-xl-4 d-flex">
					<div class="card" style="width: 24rem;">
					{% if recette.photo is not empty %}
					<img src="{{ vich_uploader_asset(recette.photo ) | imagine_filter('card') }}" alt="{{ recette.name }}" class="card-img-top"/>
					{% endif %}
						<div class="card-body">
							<h5 class="card-title text-danger">{{recette.name}}</h5>
							<p class="card-text">{{ recette.description | slice(0,100) | raw }}...</p>
							<a href="{{ path('recette_show',{'id':recette.id})}}" class="btn btn-warning">Voir la recette</a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		{# display navigation #}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(recettes) }}
		</div>
		{% endif %}
	</div>
{% endblock %}
